html, body {
  /* font-weight: 300; */
  height: 100%;
  margin: 0;
  padding: 0;
}

hr {
  background: #D0D7D9;
  height: 1px;
  margin-top: 15px !important;
  margin-bottom: 5px !important;
  border: none;
}

/* General App */

.App {
  font-weight: 300;
  height: 100vh;
  position: relative;
}

.top-nav {
  background-color: #454545;
  width: 100%;
  z-index: 10;
  height: 10vh;
}

.top-nav img {
  width: 235px;
  margin: auto 8px;
}

/* Left Nav */

.left-nav {
  height: 100vh;
  position: absolute !important;
  top: 0;
}

.left-nav h2 {
  color: #147999;
  font-size: 1rem;
  font-weight: 300;
}

/* Search Form */

.search-form {
  padding: 20px 5px;
}

.drop-down {
  margin-bottom: 2px;
}

/*  Map View */

.map-container{
  margin: 0 -15px !important;
}

.map-view {
  padding: 0 !important;
  display: inline-block;
  position: absolute !important;
  right: 0;
}

/* Markers */

.marker {
  padding-top: 6px;
}

.marker h1 {
  font-size: 1.2em;
}

.marker p {
  margin: 12px 0 10px;
}

.marker a {
  line-height: 2;
  color: #427fed;
  font-weight: 400;
}

.dates {
  border-bottom: 1px solid #cecece;
  margin: 4px 65px 4px 5px;
  padding: 0 0 4px 5px;
}

/* From Google */

.gmnoprint { /* Map/Satellite */
}

.gm-style input {
  width: 30%;
  border: none;
  margin: 10px 2px;
  padding: 10px 8px 8px;
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
}
